<form action="/slips" method="POST">
    <input type="hidden" value="{{id}}" name="quotationId" />
    <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="text" class="form-control" name="totalAmount" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-text">.00</span>
    </div>
    <button type="submit" class="btn btn-success">Confirm</button>
</form>
