  <table class="table display-3 text-center">
    <tbody>
      <tr>
          <td><div class="m-1 p-5 bg-secondary"><strong>Experts </strong><div>3.50</div></td>
          <td></td>
          <td><div class="display-4 text-center text-primary"><strong>70' - 77'</strong></div></td>
      </tr>
      <tr>
          <td></td>
          <td><div class="m-1 p-5 bg-info"><strong>Fav </strong><div>2.50</div></td>
          <td></td>
      </tr>
      <tr>
          <td></td>
          <td></td>
          <td><div class="m-1 p-5 bg-success"><strong>All </strong><div>2.25</div></td>
      </tr>
    </tbody>
</table>