  <table class="table table-dark table-striped">
    <thead>
      <th>Suggestions</th>
        <th>60' - 75'</th>
        <th>75' - 85'</th>
    </thead>
    <tbody>
      <tr>
          <td>B. Experts</td>
          <td>3.50</td>
          <td>4.00</td>
      </tr>
      <tr>
          <td>Fav. 1.5</td>
          <td>3.75</td>
          <td>4.25</td>
      </tr>
      <tr>
          <td>Fav. 0.5</td>
          <td>2.30</td>
          <td>3.30</td>
      </tr>
      <tr>
          <td>All 1.5</td>
          <td>3.00</td>
          <td>4.00</td>
      </tr>
      <tr>
          <td>All 0.5</td>
          <td>2.00</td>
          <td>3.50</td>
      </tr>
    </tbody>
</table>