/*padding: 50px;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/

body {
      background-color: bisque;
      /*display: flex;*/
      /*justify-content: center;*/
      /*align-items: center;*/
}

a {
  color: #00B7FF;
}
.suggestThis{
  font-weight: 600;
  padding: 25px 10px;
  border-radius: 10px;
  border-style: double;
  cursor: pointer;
  text-align: center;
  width: 20%;
}
.suggestThisHome{
  background-color: azure;
  border-color: #00B7FF;
}
.suggestThisAway{
  background-color:darksalmon;
  border-color :crimson;
}
.suggestThisGoals{
  background-color: beige;
}

.centerThis{
  display: flex;
  justify-content: space-evenly;
}

.fixtureCard{
  background-color: aqua;
  padding: 30px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  margin: 20px;
}

.fixtureCard:hover{
  background-color: #00B7FF;
}

.fixtureCardTime{
  position:absolute;
  top: 10px;
  left: 10px;
}

.fixtureCardClose{
  position:absolute;
  color: red;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.fixtureCardAway, .fixtureCardHome, .fixtureCardPlace{
  align-self: center;
  margin: 15px;
}

.fixtureCardHome{
  align-self: flex-start;
  margin: 15px;
}

.fixtureCardAway{
  align-self: flex-end;
  margin: 15px;
}